.tablestyle th,.tablestyle td{
	border: 1px solid #000;
}
.tablestyle thead{
	background-color: darkcyan;
	color: white;
}
.tablestyle{
	border-collapse: collapse;
}

.csvArea {
	width: 500px;
	height: 100px;
	resize: none;
}