body{
	margin: 0;
	padding: 0;
}

.main{
	margin: 8px;
}

.tablestyle th,.tablestyle td{
	border: 1px solid #000;
}
.tablestyle thead{
	background-color: darkcyan;
	color: white;
}
.tablestyle{
	border-collapse: collapse;
	width: 100%;
}
.tableBlock{
	overflow-x: scroll;
}

.csvArea {
	width: 500px;
	height: 100px;
	resize: none;
}

footer{
    bottom: 0;
    width: 100%;
	height: 80px;
    background-color: white;
    border-top: 2px solid black;
    left: 0;
    right: 0;
}

.footer_text{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
}